<footer class="footer">
    <div class="container-fluid">
      <nav>
        <ul>
          <li>
            <a href="https://pccs.lat">
              Creative Tim
            </a>
          </li>
          <li>
            <a href="#">
              About Us
            </a>
          </li>
          <li>
            <a href="#">
              Blog
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright">
        &copy;
        {{date | date: 'yyyy'}}, Designed by
        <a href="https://www.agilsof.com" target="_blank">Agilsof</a>. Coded by
        <a href="https://pccs.lat" target="_blank">pccs</a>.
      </div>
    </div>
  </footer>